@model List<GolfScore>

<div>Page</div>

<form asp-controller="User" asp-action="Logout" method="post"><Button>Log Out</Button></form>

<a asp-controller="Score" asp-action="New">Post a Score</a>


<a asp-controller="Course" asp-action="New">Add A course</a>